In [8]:
import pandas as pd

In [23]:
n = int(input("Enter an integer number that is greater than 1: "))

while True:
  if n > 1:
    break
  else:
    print("Please try a different number")
    n = int(input("Enter an integer number that is greater than 1: "))

Enter an integer number that is greater than 1: 4

In [24]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [25]:
odd

[1, 3, 5, 7]

In [26]:
even

[0, 2, 4, 6]

In [27]:
table = {'Even': even, 'Odd': odd, 'Fibonacci': fibo }
table_result = pd.DataFrame(data = table)
table_result

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2